base/App_WebReferences/Portal/portalws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMilegiPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMilegiPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMilegiPointResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMilegiPointSoapIn">
    <wsdl:part name="parameters" element="tns:GetMilegiPoint" />
  </wsdl:message>
  <wsdl:message name="GetMilegiPointSoapOut">
    <wsdl:part name="parameters" element="tns:GetMilegiPointResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalWSSoap">
    <wsdl:operation name="GetMilegiPoint">
      <wsdl:input message="tns:GetMilegiPointSoapIn" />
      <wsdl:output message="tns:GetMilegiPointSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalWSSoap" type="tns:PortalWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMilegiPoint">
      <soap:operation soapAction="http://tempuri.org/GetMilegiPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalWSSoap12" type="tns:PortalWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMilegiPoint">
      <soap12:operation soapAction="http://tempuri.org/GetMilegiPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalWS">
    <wsdl:port name="PortalWSSoap" binding="tns:PortalWSSoap">
      <soap:address location="http://localhost/portalws/portalws.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalWSSoap12" binding="tns:PortalWSSoap12">
      <soap12:address location="http://localhost/portalws/portalws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>